:root {
  --primary: #041E42;
  --secondary: #0e2f5f;
  --white-bg: #F7F7F9;
  --card-white: #FFFFFF;
  --text-dark: #1F2933;
  --text-muted: #546A7B;
  --cta-color: #C8102E; /* MLB red */
  --cta-hover: #E31837; /* Lighter red */
}


body {
  background-color: var(--white-bg);
  color: var(--text-dark);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}


